# .gitignore
# Flutter/Dart
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.dart_tool/
frontend/build/

# Node.js
backend/node_modules/
backend/.env

# General
.DS_Store
.idea/
.vscode/
